/* Cores */
:root{
    --primary-color: #285474;
    --secondary-color: #E1E1E1;
    --tertiary-color: #326DA1;
    --fourtiary-color: #C7C7C7;
    --primary-text-color: rgba(0, 0, 0, 0.795);
    --secondary-text-color: #fff;
    --tertiary-text-color: #FFFFFF;
}

/* Geral */
*{
    font-family: Lato;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn[type=submit]{
    display: block;
    border: none;
    background-color: #4686B2;
    padding: .5rem 1.8rem;
    color: var(--secondary-text-color);
    cursor: pointer;
    font-size: 1rem;
    border-radius: 4%;
    transition: all 0.5s;
}
.btn[type=submit]:hover{
    text-shadow: 0.5px 0.5px 10px black;
}

#head, #banner{
    margin-bottom: 20vh;
}

html{
    scroll-behavior: smooth;
}
:target{
    scroll-margin-top: 1rem;
}

/* Cabeçalho */
#head{
    min-height: 90vh;
    text-align: center;
}

#inner-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    padding: 0 2rem 0 3rem;
    background-color: var(--secondary-color);
}

#head-title{
    font-size: 1.8rem;
}

.nav{
    display: flex;
    gap: 1.5rem;
}
.nav a{
    text-decoration: none;
    font-weight: bold;
    color: black;
    font-size: 1rem;
    letter-spacing: 2px;
}
.nav a:hover{
    color: #f1f1f1;
    transition: 0.3s;
    text-shadow: 0.5px 0.5px 5px black;
}

#btn-icon{
    display: none;
}

.mobile-nav{
    display: none;
    cursor: pointer;
}
.mobile-nav div{
    width: 32px;
    height: 2px;
    background-color: var(--primary-text-color);
    margin: 8px;
}

#logo{
    width: 100%;
    background-color: var(--primary-color);
}

/* Introdução */
#intro-container{
    background-color: var(--fourtiary-color);
    padding: 4rem 0 2rem 0;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20vh;
}

#intro-container video{
    width: 70vw;
    margin-bottom: 3rem;
}

/* Banner */
#banner{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 85vw;
    background-color: var(--secondary-color);
    margin-bottom: 20vh;
}
#info-banner{
    max-width: 45vw;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
}
.subtitle{
    font-size: 2rem;
    margin-bottom: 2rem;
}
#info-banner p{
    font-size: 1.1rem;
    text-indent: 2rem;
    margin-bottom: 0.5rem;
    letter-spacing: 1px;
}
#info-banner h4{
    font-size: 1.2rem;
    margin: 2.5rem 0;
}

#image-banner img{
    max-width: 40vw;
    margin: 0;
}

/* Equipe */
#team{
    display: flex;
    flex-direction: column;
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10vw;
}

.subtitle{
    font-size: 2.3rem;
    margin: 1rem;
}

.inner-team{
    display: flex;
    gap: 2rem;
}

.card{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 1.2rem;
}
.card.prof{
    align-items: center;
    margin: 0 auto;
}
.perfil{
    width: 9rem;
    margin: 1rem 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 50%;
    border: 5px solid #FFFFFF;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.377);
}

#join-team{
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

/* Blog */
#blog{
    margin: 0vh auto 20vh auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    justify-content: center;
}

#blog-title{
    font-size: 3rem;
    font-style: italic;
    text-shadow: 4px 3px 5px rgba(83, 77, 77, 0.404);
    margin-bottom: 1rem;
}

.blog-card{
    display: flex;
    flex-wrap: wrap;
}

.blog-article{
    max-width: 40vw;
    padding: 4rem;
}
.blog-article p{
    text-indent: 1.5rem;
    font-size: 1.1rem;
    text-align: justify;
}

.blog-article.one{
    background-color: var(--tertiary-color);
    color: rgba(255, 255, 255, 0.973)
}
.blog-article.two{
    background-color: var(--fourtiary-color);
}

.article-title{
    font-size: 1.8rem;
    margin-bottom: 2.5rem;
}

.citation{
    display: block;
    margin-bottom: 2rem;
    font-size: 0.9rem;
}
.citation b{
    margin-left: 50%;
}

.more{
    text-align: start;
    display: block;
    margin-top: 2rem;
    text-overflow: auto;
    word-wrap: break-word;
    font-size: 0.9rem;
}
.more-title{
    display: block;
    margin-bottom: 0.5rem;
}
.more a{
    display: block;
    margin-bottom: 1rem;
    color: var(--secondary-text-color);

}

/* Rodapé */
#foot{
    background-color: var(--tertiary-color);
    text-align: center;
    color: var(--secondary-text-color);
    padding: 0 0 1rem 0;
}

#foot-icons{
    margin: 0 0 2rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}
#foot-icons img{
    width: 2.5rem;
}

#foot-content{
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    text-align: start;
    padding: 1rem;
    width: 70%;
    margin: 0 auto;
}

#foot-title{
    text-transform: uppercase;
    padding: 2rem 0;
    font-size: 2rem;
}

#foot-content-title{
    text-transform: uppercase;
    padding: 1.5rem 0;
    font-size: 1.3rem;
}

.foot-subtitle{
    letter-spacing: 2px;
    font-size: 1.1rem;
}
#foot-content a{
    text-decoration: none;
    color: var(--secondary-text-color);
    margin-bottom: 1rem;
    display: block;
    letter-spacing: 1px;
    font-size: 1rem;
}

#foot-content form{
    display: flex;
    flex-direction: column;
}

#foot-form{
    padding: 1rem;
    width: 50%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.575);
}
#foot-form input, textarea{
    padding: 1rem;
    border: none;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
}
#foot-form input:hover, textarea:hover{
    background-color: var(--fourtiary-color);
}
#foot-form button{
    padding: 1rem;
    border: none;
    font-weight: 800;
    font-size: 1.5rem;
}
#foot-form button:hover{
    color: var(--tertiary-color);
    cursor: pointer;
}

#mark{
    font-weight: bold;
    letter-spacing: 2px;
    padding-top: 2rem;
    font-style: italic;
}

/* Medias Queries */
@media (max-width: 480px){
    /* Geral */
    .btn[type=submit]{
        padding: .5rem 1rem;
        font-size: 0.7rem;
        margin: 0 auto;
    }

    #head, #intro-container, #banner, #team, #blog{
        margin-bottom: 10vh;
    }

    /* Cabeçalho */
    #head{
        min-height: 0vh;
    }
    #head-title{
        font-size: 1rem;
    }

    #inner-head{
        height: 15vh;
        padding: 0 2rem;
    }

    .mobile-nav{
        display: block;
    }

    #btn-icon{
        position: fixed;
        right: 4vw;
        top: 4vw;
        font-size: 2rem;
        color: var(--secondary-color);
        display: none;
        z-index: 10;
        cursor: pointer;
    }

    .nav{
        z-index: 9;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;

        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 0;

        background-color: var(--primary-color);
        display: none;
    }

    .nav.active{
        display: flex;
    }

    .nav-option{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

    .nav a{
        font-size: 1rem;
        color: var(--secondary-text-color);
    }

    .nav-option:hover{
        background-color: var(--fourtiary-color);
        text-shadow: 0.5px 0.5px 5px black;
        transition: all 0.3s;
    }
    
    #logo img{
        width: 80%;
    }
    
    /* Introdução */
    #intro-container{
        padding: 2rem 0 1rem 0;
        width: 100vw;
    }
    #intro-container video{
        width: 90vw;
        margin-bottom: 4vh;
    }

    /* Banner */
    #banner{
        display: block;
        max-width: 100%;
        padding: 1rem 0 0 0;
    }
    #info-banner{
        display: block;
        max-width: 100%;
        padding: 1.2rem;
        justify-content: center;
        text-align: justify;
    }
    .subtitle{
        text-align: center;
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    #info-banner p{
        font-size: 0.75rem;
        text-indent: 2rem;
        margin-bottom: 0.5rem;
        letter-spacing: 1px;
    }
    #info-banner h4{
        font-size: 0.8rem;
        margin: 2.5rem 0;
        text-align: center;
    }

    #image-banner img{
        padding-top: 2rem;
        display: block;
        max-width: 100%;
        margin: 0 auto;
    }

    /* Equipe */
    #team{
        max-width: 80%;
    }
    #team h2{
        font-size: 1.5rem;
        max-width: 100%;
    }

    .card{
        font-size: 1rem;
    }
    
    .perfil{
        width: 6rem;
    }
    
    #join-team{
        gap: 1rem;
    }

    /* Blog */
    #blog{
        max-width: 100%;
    }

    #blog-title{
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    .blog-article{
        max-width: 100%;
        padding: 1.2rem;
    }
    .blog-article p{
        font-size: 0.9rem;
        text-indent: 1rem;
    }

    .article-title{
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }

    .citation{
        font-size: 0.8rem;
    }
    .citation b{
        font-size: 0.8rem;
        margin-left: 50%;
    }

    .more{
        display: block;
        margin-top: 2rem;
        font-size: 0.8rem;
    }

    /* Rodapé */
    #foot-icons img{
        width: 10vw;
    }

    #foot-content{
        display: block;
        text-align: center;
        padding: 1rem;
        width: 100%;
    }

    #foot-title{
        font-size: 1.5rem;
    }

    #foot-content-title{
        padding: 0 0 1rem 0;
        font-size: 1.2rem;
    }

    #foot-form{
        margin-top: 4rem;
        padding: 1rem;
        width: 100%;
    }

    #mark{
        padding-top: 1rem;
    }
}

@media (min-width: 481px) and (max-width: 768px){
    /* Geral */
    .btn[type=submit]{
        padding: .5rem 1rem;
        font-size: 0.9rem;
        margin: 0 auto;
    }

    #head, #intro-container, #banner, #team, #blog{
        margin-bottom: 20vh;
    }

    /* Cabeçalho */
    #head{
        min-height: 0vh;
    }
    #head-title{
        font-size: 1.5rem;
    }

    #inner-head{
        height: 20vh;
        padding: 0 2.5rem;
    }

    .mobile-nav{
        display: block;
    }

    #btn-icon{
        position: fixed;
        right: 4vw;
        top: 4vw;
        font-size: 2rem;
        color: var(--secondary-color);
        display: none;
        z-index: 10;
        cursor: pointer;
    }

    .nav{
        z-index: 9;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;

        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 0;

        background-color: var(--primary-color);
        display: none;
    }

    .nav.active{
        display: flex;
    }

    .nav-option{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    

    .nav a{
        font-size: 1rem;
        color: var(--secondary-text-color);
    }

    .nav-option:hover{
        background-color: var(--fourtiary-color);
        text-shadow: 0.5px 0.5px 5px black;
        transition: all 0.3s;
    }
    
    #logo img{
        width: 80%;
    }
    
    /* Introdução */
    #intro-container{
        padding: 2rem 0 1rem 0;
        width: 100%;
    }
    #intro-container video{
        width: 90vw;
        margin-bottom: 4vh;
    }

    /* Banner */
    #banner{
        display: block;
        max-width: 85%;
        padding: 1rem 0 0 0;
    }
    #info-banner{
        display: block;
        max-width: 100%;
        padding: 3rem;
        justify-content: center;
        text-align: justify;
    }
    .subtitle{
        text-align: center;
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }
    #info-banner p{
        font-size: 1rem;
        text-indent: 2rem;
        margin-bottom: 0.5rem;
        letter-spacing: 1px;
    }
    #info-banner h4{
        font-size: 1rem;
        margin: 2.5rem 0;
        text-align: center;
    }

    #image-banner img{
        padding-top: 2rem;
        display: block;
        max-width: 100%;
        margin: 0 auto;
    }

    /* Equipe */
    #team{
        max-width: 90%;
    }
    #team h2{
        font-size: 2rem;
        max-width: 100%;
    }

    .card{
        font-size: 1.1rem;
    }
    
    .perfil{
        width: 8rem;
    }
    
    #join-team{
        gap: 1rem;
    }

    /* Blog */
    #blog{
        max-width: 100%;
    }

    #blog-title{
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    .blog-article{
        max-width: 100%;
        padding: 2rem;
    }
    .blog-article p{
        font-size: 1rem;
        text-indent: 1rem;
    }

    .article-title{
        font-size: 1.34em;
        margin-bottom: 2rem;
    }

    .citation{
        font-size: 0.9rem;
    }
    .citation b{
        font-size: 0.9rem;
        margin-left: 50%;
    }

    .more{
        display: block;
        margin-top: 2rem;
        font-size: 0.9rem;
    }

    /* Rodapé */
    #foot-icons{
        margin-bottom: 0;
    }
    #foot-icons img{
        width: 6vw;
    }

    #foot-content{
        display: block;
        text-align: center;
        padding: 2rem;
        width: 100%;
    }

    #foot-title{
        font-size: 1.7rem;
    }

    #foot-content-title{
        padding: 0 0 1rem 0;
        font-size: 1.2rem;
    }

    #foot-form{
        margin: 3rem auto 0 auto;
        padding: 1rem;
        width: 80%;
    }

    #mark{
        padding-top: 1rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px){
    /* Geral */
    .btn[type=submit]{
        font-size: 0.9rem;
        margin: 0 auto;
        padding: 0.5rem 1rem;
    }

    #head, #intro-container, #banner, #team, #blog{
        margin-bottom: 20vh;
    }
    
    /* Cabeçalho */
    #inner-head{
        padding: 0 1rem 0 3rem;
    }

    .nav{
        gap: 1rem;
    }
    .nav a{
        font-size: 0.9rem;
        
    }

    /* Introdução */
    #intro-container{
        padding: 3rem 0 2rem 0;
        width: 100%;
    }
    #intro-container video{
        width: 85vw;
        margin-bottom: 4vh;
    }

    /* Banner */
    #banner{
        display: block;
        max-width: 70%;
        padding: 0 0 0 0rem;
    }

    #info-banner{
        display: block;
        max-width: 100%;
        padding: 3rem;
        text-align: center;
    }
    #info-banner p{
        text-align: justify;
        font-size: 1.1rem;
    }

    .subtitle{
        text-align: center;
        font-size: 1.6rem;
        margin-bottom: 1rem;
    }

    #info-banner h4{
        font-size: 1.2rem;
    }

    #image-banner img{
        max-width: 100%;
        margin: 0 auto;
    }
    
    /* Equipe */
    #team{
        max-width: 75%;
    }
    #team h2{
        font-size: 2.5rem;
        max-width: 1080%;
    }

    .card{
        font-size: 1.4rem;
    }
    
    .perfil{
        width: 8rem;
    }
    
    #join-team{
        gap: 1rem;
    }

    /* Blog */
    #blog{
        max-width: 100%;
    }

    .blog-card{
        flex-wrap: nowrap;
    }

    #blog-title{
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .blog-article{
        max-width: 50%;
        padding: 3rem;
    }
    .blog-article p{
        font-size: 1.1rem;
        text-indent: 1rem;
    }

    .article-title{
        font-size: 1.5em;
        margin-bottom: 2rem;
    }

    .citation{
        font-size: 0.9rem;
    }
    .citation b{
        margin-left: 50%;
    }

    .more{
        display: block;
        margin-top: 2rem;
        font-size: 0.9rem;
    }

    /* Rodapé */
    #foot-icons{
        margin-bottom: 0;
    }
    #foot-icons img{
        width: 4vw;
    }

    #foot-content{
        text-align: center;
        padding: 2rem;
        width: 100%;
    }
    #foot-content a{
        font-size: 1rem;
        margin-top: 0.3rem;
    }

    #foot-title{
        font-size: 2rem;
    }

    #foot-content-title{
        padding: 0 0 1rem 0;
        font-size: 1.3rem;
    }

    .foot-subtitle{
        font-size: 1.3rem;
    }

    #foot-form{
        margin: 0rem auto 0 auto;
        padding: 1rem;
        width: 50%;
    }

    #mark{
        padding-top: 1rem;
    }
}

@media (min-width: 1025px) and (max-width: 1200px){
    /* Geral */
    .btn[type=submit]{
        font-size: 0.9rem;
        margin: 0 auto;
        padding: 0.5rem 1rem;
    }

    #head, #intro-container, #banner, #team, #blog{
        margin-bottom: 20vh;
    }
    
    /* Cabeçalho */
    #inner-head{
        padding: 0 2rem 0 3rem;
    }
    #inner-head a{
        font-size: 1rem;
    }

    #head-title{
        font-size: 2rem;
    }

    /* Introdução */
    #intro-container{
        padding: 4rem 0 2rem 0;
        max-width: 85%;
    }
    #intro-container video{
        max-width: 70vw;
        margin-bottom: 4vh;
    }

    /* Banner */
    #banner{
        max-width: 100%;
        padding: 0 0 0 0rem;
        flex-wrap: nowrap;
    }

    #info-banner{
        /* display: block; */
        max-width: 50%;
        padding: 3rem;
        text-align: center;
    }
    #info-banner p{
        text-align: justify;
        font-size: 1.1rem;
    }

    .subtitle{
        text-align: center;
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    #info-banner h4{
        font-size: 1.1rem;
        margin: 2rem 0;
    }

    #image-banner img{
        max-width: 100%;
        margin: 0 auto;
    }
    
    /* Equipe */
    #team{
        max-width: 70%;
    }
    #team h2{
        font-size: 2.5rem;
        max-width: 100%;
    }

    .card{
        font-size: 1.4rem;
    }
    
    .perfil{
        width: 8rem;
    }
    
    #join-team{
        gap: 1.5rem;
    }

    /* Blog */
    #blog{
        max-width: 100%;
    }
    .blog-card{
        flex-wrap: nowrap;
    }

    #blog-title{
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }

    .blog-article{
        max-width: 50%;
        padding: 3rem;
    }
    .blog-article p{
        font-size: 1.1rem;
        text-indent: 1rem;
    }

    .article-title{
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }

    .citation{
        font-size: 1rem;
    }
    .citation b{
        font-size: 1rem;
        margin-left: 50%;
    }

    .more{
        display: block;
        margin-top: 2rem;
        font-size: 1rem;
    }

    /* Rodapé */
    #foot-icons{
        margin-bottom: 0;
    }
    #foot-icons img{
        width: 2.5rem;
    }

    #foot-content{
        justify-content: center;
        text-align: center;
        padding: 0rem 0rem;
        margin-top: 2rem;
        width: 100%;
    }
    #foot-content a{
        font-size: 1.1rem;
        margin-top: 0.3rem;
    }

    #foot-contacts{
       margin-right: 1rem;
    }

    #foot-title{
        font-size: 2rem;
    }

    #foot-content-title{
        padding: 0 0 1rem 0;
        font-size: 1.3rem;
    }

    .foot-subtitle{
        font-size: 1.2rem;
    }

    #foot-form{
        margin: 0;
        padding: 1rem;
        width: 40%;
    }

    #mark{
        padding-top: 1rem;
    }
}