/* Cores */
:root{
    --primary-color: #285474;
    --secondary-color: #E1E1E1;
    --tertiary-color: #4686B2;
    --fourtiary-color: #C7C7C7;
    --primary-text-color: rgba(0, 0, 0, 0.795);
    --secondary-text-color: #fff;
    --tertiary-text-color: #FFFFFF;
}

/* Geral */
*{
    font-family: Lato;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mg-bt{
    margin-bottom: 20vh;
}

.btn[type=submit]{
    display: block;
    border: none;
    background-color: #4686B2;
    padding: .7rem 2rem;
    color: var(--secondary-text-color);
}

/* Cabeçalho */
#head{
    height: 90vh;
    text-align: center;
}

#inner-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem;
    background-color: var(--secondary-color);
}

#head-title{
    font-size: 1.8rem;
}

#nav{
    display: flex;
    gap: 2rem;
}
#nav a{
    text-decoration: none;
    font-weight: bold;
    color: var(--primary-text-color);
    font-size: 1.1rem;
}

#logo{
    width: 100%;
    background-color: var(--primary-color);
}

/* Introdução */
#intro-container{
    background-color: var(--fourtiary-color);
    padding: 4rem;
    width: 90vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#intro-container video{
    width: 70vw;
    margin-bottom: 3rem;
}

/* Banner */
#banner{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 85vw;
    background-color: var(--secondary-color);
    margin-bottom: 20vh;
}
#info-banner{
    max-width: 45vw;
    padding: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
}
.subtitle{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
#info-banner p{
    text-indent: 2rem;
    margin-bottom: 0.5rem;
    letter-spacing: 1px;
}
#info-banner h4{
    margin: 2.5rem 0;
}
#image-banner img{
    max-width: 40vw;
    margin: 0;
}

/* Equipe */
#team{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inner-team{
    display: flex;
    gap: 2rem;
}
.card{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
}
.perfil{
    width: 8rem;
    margin: 1rem 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 50%;
    border: 5px solid #FFFFFF;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.377);
}

/* Feed */
#feed-insta{
    background-color: var(--fourtiary-color);
    width: 80vw;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    margin-bottom: 20vh;
}

#feed-title{
    text-transform: uppercase;
    font-style: italic;
    font-size: 3rem;
    margin: 2rem 0;
}

#feed-posts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 8vh;
}

.square{
    width: 15vw;
    height: 15vw ;
    background-color: #285474;
}

/* Blog */
#blog{
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    max-width: 80vw;
    justify-content: center;
}

#blog-title{
    font-size: 3rem;
    font-style: italic;
    text-shadow: 4px 3px 5px rgba(83, 77, 77, 0.404);
    margin-bottom: 1rem;
}

.blog-card{
    display: flex;
    justify-content: center;
}

.blog-article{
    max-width: 40vw;
    padding: 5rem;
}
.blog-article p{
    font-size: 1.2rem;
    text-align: justify;
}

.blog-article.one{
    background-color: var(--tertiary-color);
    color: rgba(255, 255, 255, 0.973)
}
.blog-article.two{
    background-color: var(--fourtiary-color);
}

.article-title{
    font-size: 2rem;
    margin-bottom: 3rem;
}