.footer{
    margin-top: 6em;
    text-align: center;
    background-color: #285474;
    color: #fff;
    font-style: italic;
}
.footer h1{
    font-size: 3em;
    padding-top: 1em;
}

.icon{
    max-width: 1.5em;
    
}
#container-icon{
    display: flex;
    justify-content: space-between;
    max-width: 10%;
    margin: 1.5em auto;
}

.footer h2, h3, p{
    margin: 1em;
}
.footer span p{
    margin-bottom: 0;
    padding-bottom: 1em;
    font-weight: bold;
}