@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
}

.App-header{
  background-color: #D2D3D3;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 2em 9em;
}
.App-header h1{
  font-weight: 400;
}
.App-header ul{
  display: flex;
  list-style: none;
  font-weight: 500;
}

.App-header ul li{
  margin-left: 1.5em;
}

.logo{
  max-width: 80vw;
  height: 24em;
  margin: 0 auto;

  background-color: #285474;
  overflow: hidden;
}
.App img{
  display: block;
  margin: auto;
}

.intro{
  margin: 8em auto;
  padding: 4em;
  max-width: 80%;
  text-align: center;

  background-color: #c7c7c7;
}
.intro button{
  margin-top: 3em;
  padding: 0.9em 2.5em;
  background-color: #326da1;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-weight: bold;
}

.infografo{
  width: 100%;

  display: flex;
  align-items: center;
  position: relative;

  background-color: #f1f1f1;
  min-height: 900px;
  margin: 0 auto;
  max-width: 80%;
  
}
.infografo h1{
  font-size: 2.4em;
}
.infografo div{
  text-align: justify;
  max-width: 30%;
  margin: 0 8em;
  display: flex;
  flex-direction: column;

}
.infografo p{
  margin-top: 1em;
  word-spacing: 0.8em;
}
.infografo div button{
  margin: 1em auto;
  padding: 0.9em 2.5em;
  background-color: #326da1;
  color: #fff;
  border: none;
  border-radius: 3px;
}
.infografo span{
  margin: 1.5em auto 0 auto;
}

.imgInfo img{
  width: 490px;
  height: 900px;

  position: absolute;
  right: 0;
  top: 0;
  
}